html,
body,
.app {
  height: 100vh; 
  background-color: #ffffff;
}
#header {
  text-align: center;
  width: 100%;
}
#title {
 width: 100%;
 font-size: 1.9em;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}
#address {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
}
#line {
  width: 80%;
  height: 3px;
  border: solid 1px #979797;
  background-color: #111111;
  display: inline-block;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 0 20% 0 20%;
}
#nav-box {
  text-align: center;
}
#nav-box #line {
  height: 1px;
  color: #979797;
}
#book-button {
  width: 9%;
  height: 30px;
  font-family: OpenSans;
  font-size: 1.4em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #414040;
}
#container {
  position: relative;
  height: 67vh;
  width: 100%;
}
#slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  text-align: center;
  color: #000000;
  position: relative;
  top: 20%;
  left: 10%;
  height: 40%;
  width: 70%;
}
#slogan-box {
  background-color: #ffccc2;
  opacity: 0.68;
  width: 298px;
  height: 251px;
  display: inline-block;
  position: absolute;
  top: 26%;
  left: 68%;
}
#body {
  display: flex;
}
#hero-image {
  position: absolute;
  top: 2%;
  left: 10%;
  height: 98%;
  width: 60%;
}
p {
  margin-bottom: 1em;
}
body {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
}
link {
  text-decoration: none;
}
#nav-link{
  color: #777777;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: center;
  margin: 3% 0 3% 0;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  margin: 3% 0 3% 0;
  font-family: 'Open Sans', sans-serif;
}
nav a:hover {
  color: #111111;

}
#magz {
  text-align: center;
  width: 80%;
  margin-bottom: 5%;
}
#magz #line {
  height: 1px;
  width: 100%;
}
#magz img {
  width: 20%;
}
.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  flex: 0 0 auto;
  padding-top: 20px;
  background-color: #414040;
  text-align: center;
  color: #fcdcd6;
}
.footer-buttons{
    height: 6vh;
    /* width: 20vw; */
    color: #fcdcd6;
    background-color: #414040;
    font-size: 1.5em;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-top: 2vh;
}
.footer-buttons:hover{
  color:  #414040;
  background-color:#fcdcd6;
}
#footer-group{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: "Open Sans";
  margin-bottom: 3vh;
}
.im{
  font-size: 2em;
  padding: .8em;
}
#join {
  font-size: 1.6em;
  font-family: "Open Sans";
  font-weight: bold;
}
.carousel-prev:before, .carousel-next:before {
  background-image: none;
  background-image: url(../src/images/Arrow.png);
}
#subscribe{
  font-size: 1.4em;
  font-family: "Open Sans";
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.artist-image{
  width: 18vw;
  height: 17vw;
  opacity: 70%;
}
.artists{
  width: 80%;
  margin-bottom: 2vh;
}
.container{
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3em;
  font-family: Arial, Helvetica, sans-serif;
}
#artist-box{
  display: grid;
  grid-template-columns: 60% 40%;
}
#artist-box-pics{
  justify-self: center;
}
#artist-box-info{
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#artist-box-pics-main-pic{
  width: 40vw;
  height: 50vh;
  background-size: cover;
  margin-bottom: 1vh;
}
.details-img{
  width: 100px;
  height: 100px;
}
#profile-pic{
  border-radius: 50%;
  width: 300px;
  /* align-self: center; */
}
#name{
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
  margin-left: 6vw;
}
.desc{
  font-size: 1.1em;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen 
  and (max-width: 800px){
   
    /* #main { 
      background-size: 100% 100%;
      justify-content: flex-start;
    } */
    #artist-box{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "info"
      "pics";
    }
    #artist-box-pics{
      grid-area: pics;
    }
    #artist-box-info{
      grid-area: info;
    }
  
  #profile-pic {
      align-self: center;
  }
  #name {
    text-align: center;
  }
  .desc {
  margin-left: 5vw;
  }
  #artist-box-pics-main-pic{
    width: 90vw;
    height: 60vh;
  }
  #footer-group{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "text"
    "icons";
  }
  #footer-group p{
    grid-area: text;
  }
  #footer-links{
    grid-area: icons;
    display: flex;
    justify-content: center;
  }
  .im{
    font-size: 1em;
  }
}